# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Dataset
data/sarcasm.zip
data/cleaned_df.pkl
data/cleaned_token_df.pkl
data/acetone_font.otf


# Ivy Transpiler API key folder
.ivy/

# Kaggle API Credentials
kaggle.json